<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/6c2eeecdf7.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Restaurants</title>
    {% endif %}
    {% block head %} {% endblock %}
</head>
<body style="background-color:#0a1118">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand fs-2" href="{{url_for('showRestaurant')}}">Restaurants</a>

            {% if login %}
            <div class="nav-item">

                <p class="text-white fs-4">{{ userLogged }}</p>
            </div>
            {% endif %}
            <div class="nav-item">
                {% if login %}
                <a class="btn btn-outline-warning my-2 my-sm-0" href="{{url_for('logout')}}">Log out</a>
                {% else %}
                <a class="btn btn-outline-success my-2 my-sm-0" href="{{url_for('login')}}"><i class="fa-brands fa-google"></i> Log in with Google</a>
                <br>
                <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"></div>
                {% endif %}
                <a class="btn btn-outline-primary my-2 my-sm-0" href="{{url_for('showUsers')}}">All Users</a>
            </div>

            <button class="navbar-toggler" type='button' data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <form class="d-flex" method='POST' action="{{url_for('newRestaurant')}}">
                    <div class="mb-3 input-group mt-3">
                        <input required class="form-control me-2" name="restaurant_name" placeholder="Restaurant name">
                        <button class="btn btn-outline-success" type="submit">Create a new Restaurant</button>
                    </div>
                </form>
            </div>          
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="container bg-{{category}} rounded-1 mt-4">
        <p class="fs-5 text-center text-white pt-1 pb-1">{{message}}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class='container mt-4'>
        {% block content %} {% endblock %}
    </div>
    {% block script %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0&appId=693021635741765&autoLogAppEvents=1" nonce="RFQXN3zD"></script>

    <script>
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }
        
        window.fbAsyncInit = function() {
        FB.init({
            appId      : '693021635741765',
            cookie     : true,  // enable cookies to allow the server to access the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v15.0' 
        });
        };

        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        
        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function sendTokenToServer() {
            var access_token = FB.getAuthResponse()['accessToken'];
            console.log(access_token)
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
                $.ajax({
                    type: 'POST',
                    url: '/fbconnect?state={{STATE}}',
                    processData: false,
                    data: access_token,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                    // Handle or verify the server response if necessary.
                        if (result) {
                        $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                        setTimeout(function() {
                        window.location.href = "/restaurant";
                        }, 4000);
                        
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }
            
        });
            });
        }
    </script>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>